.blog-content-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.blog-tag {
  display: block;
  width: 30rem;
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 2rem;
  transition: color 0.2s linear;
}

.blog-tag:hover {
  color: #00897b;
}

.blog-image {
  width: 25rem;
  height: 15.5rem;
  box-shadow: 0 0 12px 0 #1c1c1c;
  object-fit: cover;
}

.blog-description {
  margin-left: 1rem;
  padding: 2rem 0;
}

.description {
  width: 25rem;
}

.date,
.type-news {
  display: inline-block;
  margin: 0.3rem 0;
}

.type-news {
  margin-left: 1rem;
}

.date:before {
  content: '\1F4C5';
}

.type-news:before {
  content: '\1F4C4';
}

.date:before,
.type-news:before {
  margin-right: 1rem;
}

.image--right {
  order: 2;
}

.description--right {
  order: 1;
}

@media (max-width: 867px) {
  .image--right {
    order: 1;
  }

  .description--right {
    order: 2;
  }

  .blog-description,
  .description,
  .blog-tag {
    width: 100%;
  }

  .blog-image {
    width: 90%;
  }
}