.bg-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../images/bgcontactpage.jpg) center/cover;;
}

.contact {
  color: white;
  text-align: center;
}

.contact-info {
  display: inline-block;
  margin: 1rem 5rem 3rem 5rem;
  text-align: center;
}

.wrapper-svg {
  position: relative;
  display: block;
  width: 7rem;
  height: 7rem;
  background: #3949ab;
  border-radius: 50%;
  padding: 20px;
  margin: auto;
}

.wrapper-svg svg {
  position: absolute;
  margin-left: -1.55rem;
  top: 1.5rem;
  left: 50%;
  width: 3rem;
}

.mail {
  position: absolute;
  left: 37%;
  top: 0.4rem;
}

.mail svg {
  width: 5rem;
}

.contact-form {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10rem;
}

.form {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 49%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: none;
}

.contact-form__massage {
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  resize: none;
  outline: none;
}

.contact-form__massage::placeholder,
.contact-form__firstname::placeholder,
.contact-form__email::placeholder {
  font-family: "Open Sans", sans-serif;
  padding-top: 0.25rem;
  font-size: 1.2rem;
  color: black;
}

.btn-contact {
  position: absolute;
  right: 0;
  bottom: 5rem;
  width: 7rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.btn-contact:hover {
  background: var(--button-bg-hover);
  color: white;
}