main {
  background: #f0f1f1;
}

.filter-container {
  text-align: center;
}

.select__button {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  margin: 0.5rem 1.5rem;
  border: 2px solid #000000;
  border-radius: 0.25em;
  background: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.select__button:hover {
  border: 1px solid #58bfb1;
  background: #00897b;
  color: white;
  transition: 0.2s;
}

.select__button:active {
  background: #00897b;
  border: 1px solid #00897b;
  color: white;
}

.filter-container {
  margin: 1rem 0;
}

.portfolio-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info__image {
  width: 20rem;
  height: 10rem;
  margin: 1rem;
  object-fit: cover;
  box-shadow: 0 0px 10px -2px #1c1c1c;
}

.close{
  display: none;
}
/* @media (max-width: 890px){
} */